extends layout
block content
    if (title)
      h1 #{title}
      p(class="lead") has been received in the #{collection} collection
    if (movies && !title)
      div(class='container')
        h1 Your list of movies
        div(class='container')
          div(class='container table-responsive')
            table
             each movie in movies
              tr( style='margin: 50px;')
                td(class='shelfcard borderRoundme' style='padding-left: 50px; padding-bottom: 50px;')
                  h2 #{movie.title}
                    small   (#{movie.year})
                  a(href='api/movies/'+movie.title)
                    img.dropshadowme.borderRoundme.featurette-image.img-responsive(href='api/movies/'+movie.title src=movie.posterurl height="200" width="120")
